<h2>Create Doctor</h2>

<form method="POST" action="/hospital/create-doctor">

    <input type="text" name="name" placeholder="Doctor Name" required>
    <br><br>

    <input type="email" name="email" placeholder="Doctor Email" required>
    <br><br>

    <button type="submit">Create</button>

</form>