<h2>Doctors List</h2>

<table border="1" cellpadding="10">

    <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>

    <% doctors.forEach((d, index) => { %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= d.name %></td>
            <td><%= d.email %></td>
            <td>
                <a href="/hospital/delete-doctor/<%= d._id %>">Delete</a>
            </td>
        </tr>
    <% }) %>

</table>